<DOCTYPE! html>
    <html lang="pt-bt">
    <meta charset="utf-8">

    <head>
        <title> Rolê TOP</title>
        <link rel="stylesheet" type="text/css" href="css/roletop.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://kit.fontawesome.com/349a64cb04.js"></script>

    </head>

    <body>
        <div class="contato">

            
            <form name="formulario" action="http://scripts.redehost.com.br/formmail.aspx" method="post">
                <input type=hidden name="destino" value="EmailQueVaiReceberAsMensagens">
                <input type=hidden name="enviado" value="http://www.seudominio.xxx.yy/enviado.htm">
                <p><b>Nome:</b><br>
                    <input type=text name="nome" size="45"></p><br>
                    <p><b>Email:</b><br>
                        <input type=text name="email" size="45"></p><br>
                        <p><b>Assunto:</b><br>
                            <input type=text name="assunto" size="45"></p><br>
                            <p><b>Mensagem:</b><br>
                                <textarea name="Mensagem" rows="10" cols="60" wrap="virtual"></textarea></p><br>
                                <p><input type="submit" value="Enviar Email"> <input type="reset" value="Limpar Formulário"></p>
                            </form>
                            
                            <a asp-controller="Cadastro" asp-action="Index" class="active">
                                <h2>Faça seu cadastro para mais informações</h2>
                                </a>
                            
                        </div>

        <section>

            <P>Alameida Barão de Limeira, 539 Santa Cecília,São Paulo - SP 01202-001 </P>
            <P>Telefone:(011) 3273-5000</P>
            <P>Facebook/RolêTOP</P>
            <p>Instagram/RolêTOP</p>
            <a href="#">Voltar para o topo!</a>
        </section>
        <script>
            function toggleMobileMenu() {
                var ul = document.querySelector("nav ul");
                var commonButtons = document.querySelectorAll("nav .bt-common-menu");
                var icon = document.querySelector(".icon > i");

                ul.classList.toggle("mobile-mode");

                if (icon.classList.contains("fa-bars")) {
                    icon.classList.remove("fa-bars");
                    icon.classList.remove("fa");

                    icon.classList.add("fas");
                    icon.classList.add("fa-times");
                } else {
                    icon.classList.remove("fas");
                    icon.classList.remove("fa-times");

                    icon.classList.add("fa");
                    icon.classList.add("fa-bars");
                }

                for (var button of commonButtons) {
                    button.classList.toggle("active");
                }

            }
        </script>


    </body>

    </html>