@model RoleTOPMVC.ViewModels.AgendamentoViewModel
<main>
        <div class="contratar">
                <form method="POST" action='@Url.Action("CadastrarEvento", "Evento")'>
                <div id="tabela1">
                    <h5>Contratar o serviço</h5>
                <br>
                <label for="Nome">Nome:</label>
                <input id="nome" name="Nome" maxlength="20" minlength="3" placeholder="Escreva seu nome" required value="@Model.cliente.Nome">
                </br>
                </br>
                <br>

                <label for="Email">Email</label>
                <input  name="Email" placeholder="Rolêtop@hotmail.com" required value="@Model.cliente.Email">
                <br>
        
                </br>
                Data do evento:
            <input type="date" name="DataFesta" required>
            <br>
            <br>

                <label for="TipoFesta">Tipo de festa</label>
                <select name="TipoFesta" required>
                    <br>
                    <br>
                    <option value="Selecione" disabled selected>Selecione</option>
                    <option value="formatura">Formatura</option>
                    <option value="show">Show</option>
                    <option value="baile">Baile</option>
                    <option value="festacasamento">Festa de Casamento</option>
                    <option value="festa">Festa Infantil</option>
                </select>
                <br>
                <br>
            <div id="tabela03">

                <label for="QuantsPessoas">Qtde de pessoas</label>
                <input class="inputcontratar"  name ="QuantsPessoas" maxlength="20" minlength="3" placeholder="123" required>
                <br>
                <br>
                <label for="Horario">Horário da festa</label>
                <input class="inputcontratar"  name="Horario" maxlength="20" minlength="3" placeholder="00:00"
                    required>
                
            </div>


                <p>Irá utilizar algum serviço do Rolê TOP?</p>
                <br>
                <p>
                    <select name="Servicos" required>
                    <br>
                    <br>
                    <option value="Selecione" disabled selected>Selecione</option>
                    <option value="Iluminação">Iluminação</option>
                    <option value="Show">Show</option>
                    <option value="Nenhum">Nenhum</option>
                    </select>
                </p>

                <p>Selecionar os espaços que serão utilizados</p>
                <br>
                <p>
                    <select name="Espacos" required>
                    <br>
                    <br>
                    <option value="Selecione" disabled selected>Selecione</option>
                    <option value="Cozinha">Cozinha</option>
                    <option value="Palco">Palco</option>
                    <option value="Nenhum">Nenhum</option>
                    </select>
                    <br>
                    <br>
                    <input class="inputcontratar" type="submit" value="Contratar Evento" />
                    
                    </form>
                </p>
            </div>
        </div>


        <h5>Pagamento</h5>
        <br>


        <section>
            <P>Alameida Barão de Limeira, 539 Santa Cecília,São Paulo - SP 01202-001 </P>
            <P>Telefone:(011) 3273-5000</P>
            <P>Facebook/RolêTOP</P>
            <p>Instagram/RolêTOP</p>
            <a href="#">Voltar para o topo!</a>
        </section>
        <script>
            function toggleMobileMenu() {
                var ul = document.querySelector("nav ul");
                var commonButtons = document.querySelectorAll("nav .bt-common-menu");
                var icon = document.querySelector(".icon > i");
                ul.classList.toggle("mobile-mode");
                if (icon.classList.contains("fa-bars")) {
                    icon.classList.remove("fa-bars");
                    icon.classList.remove("fa");
                    icon.classList.add("fas");
                    icon.classList.add("fa-times");
                } else {
                    icon.classList.remove("fas");
                    icon.classList.remove("fa-times");
                    icon.classList.add("fa");
                    icon.classList.add("fa-bars");
                }
                for (var button of commonButtons) {
                    button.classList.toggle("active");
                }
            }
            </script>
    </main>