@model RoleTOPMVC.ViewModels.HistoricoViewModel
    <body>
        <div class="áreadocliente">

            <h5>Área do cliente</h5>

            @foreach(var Eventos in Model.Evento) {
                <tr>
                    <td>@Eventos.Horario</td>
                    <td>@Eventos.DataFesta</td>
                    <td>@Eventos.TipoFesta</td>
                    <td>@Eventos.Status</td>
                </tr>
                @if(Eventos.Status == 1){
                <td>Seu Evento está APROVADO</td>
                }else if (Eventos.Status == 2){
                <td>Seu Evento está REPROVADO</td>
                }else if (Eventos.Status == 0){
                <td>Seu Evento está PENDENTE</td>
                }
            }
        </div>
    
        <div class="Solicite">
            
            <a asp-controller="Contratar" asp-action="index" class="active">

    
                <h2>Contrate seu evento com o galpão Rolê TOP</h2>
            </a>

        </div>

        <DIV class="imagens">


            <div>
                <img src="~/img/festas05.jpg" alt="festas05" style="width:350; height:350px;" />
            </div>
            <div>
                <img src="~/img/festas03.jpg" alt="festas05" style="width:350; height:350px;" />
            </div>
            <div>
                <img src="~/img/festa01.jpg" alt="festas05" style="width:350; height:350px;" />
            </div>

            <div>
                <img src="~/img/Shows.jpg" alt="festas05" style="width:350; height:350px;" />
            </div>
            


        </DIV>

        <section>

            <P>Alameida Barão de Limeira, 539 Santa Cecília,São Paulo - SP 01202-001 </P>
            <P>Telefone:(011) 3273-5000</P>
            <P>Facebook/RolêTOP</P>
            <p>Instagram/RolêTOP</p>
            <a href="#">Voltar para o topo!</a>
        </section>


    </body>

    </html>