
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav #bt-mobile-menu {
    display: none;
}

header{
    background-image: url(festas02.jpg);
    padding: 35px;
    width: 1905px;
}


/* nav ul{
    display: flex;                  /* arruma o menu na horizontal/
    flex-direction: row;
    list-style-type: none;          / tira as bolinhas da lista/
    font-size: 1.3em;               / muda o tamanho da fonte - "em" considera o tamanho padrão do "celular" - 1 "em" equivale ao tamanho padrão/
    height: 2.3em;                  / espaçamento, altura/
    align-items: center;            / centraliza o texto no centro vertical/ 
    
    justify-content: space-between; /divide os ítens com espaços iguais deixando uma margem no início e no fim*
    
} */

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
}



nav a {                             /* "a" = link*/
    text-decoration: none;          /*tira o risco de baixo do link*/
    color: oldlace;             /*muda a cor do texto*/    
    padding: .65em 3em;             /*quanto que será selecionado quando se passar o mouse por cima - vermelho - acaba dando um maior espaçamento no texto*/ 
    font-weight: bold;              /*negrito*/
}

nav a:hover {                       /* muda o formato quando o mouse é passado por cima*/
    background-color: #a70000;
    box-shadow: 0 2px #800000;    /* difusão, tamanho e cor */
    
}
div {
    justify-content: space-between;
    
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva, Verdana, sans-serif;
    background-color:#f0300f;
    
    
}
.areadocliente{
    padding: 200;
}

.section-container {
    margin: 0 auto;
    max-width: 1360px;
}

.section-container > a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
}
h6{
    font-size: 20px;
}
.areacadastro{
    font-size: 100%;
    background-color: #800000;
    
    width: 3000px;

}
section {
    text-align: center;
    background-color:coral;
    justify-content:space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 100%;
    
}
.imagens{
    display: flex;
    flex-wrap: wrap;
    padding: 200px;
    background-color: black;
    
    
}
.imagens img{
    margin: 10px;
    background-color: black;
    
}
.QuebraTexto {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.cadastroarea{
    background-color: red;
    
    width: 3000px;
    font-size: 100%;
    
}

.flex{
    display:flex;
    background-color: gray;
    width: 2000px;
}
.flexdireita{
    display:flex;
    justify-content: flex-end;
    
}
.flexesquerda{
    display:flex;
    justify-content: flex-start;
    font-size: 480%;
    align-items: center; 
    justify-content: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Solicitelogin{
    background-color: black;
    text-align: center;


}

.festa03 {
    width: 200%;
    align-self: flex-end;
    height:600px;
}
.Solicite {
    text-align: center;
    color:white;
    background-color: black;
    width: 1905px;
    
}
br {
    line-height: 200%;
    
}
h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    
    
}
h4 {
    font-size: 300%;
}
.cadastro {
text-align: center;
background-color:black;
color:white;
}
.contato{
    background-color: black;
    padding: 300px;
    color: white;
    
}
.login{
    background-color: black;
    color:white;
    text-align: center;
    

}
.contrato{
    padding: 55;
}
h2{
    border: 0px;
    margin: 0;
}
Input {
    width: 15%;
    height:40px;
    border-radius: 45px;
    
}
.menu{
    display:none;
}
@media(max-width: 1200px){
    nav{
        font-size: 90%;
    }
}

@media screen and (max-width: 1073px){
    .Solicite {
        text-align: center;
        color:white;
        justify-content: space-around;
        background-color: black;
        width: 1860px;
        
        height:1000%;
        
    }
    .menu{
        display:block;
    }
    /*****************************************************************************
                                    NAV -MOBILE 
    *****************************************************************************/
    
    nav #bt-mobile-menu {
        display:block;   
    }
    nav .bt-common-menu {
        display: none;
    }
    nav .bt-common-menu.active {
        display:block;
    }
    
    nav ul.mobile-mode {
        display:flex;
        
    }
    nav ul > li > a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color:red;
        flex-direction: column;
        width: 80px;
    }
    header{
        background-color: black;
        width: 3250px;
        
        
    }
    .imagens{
        /*width:1000%;
        height:1000px;
        */
        background-color: black;
        width:20000px;
    }
    H2{
        width: 3500px;
        padding: 50px;
        font-size: 35px;
        text-align: center;
    }
    H3{
        font-size: 100px;
        text-align: center;
        padding: 50px;
        width: 3000px;

    }
    .cadastroarea{
        background-color: red;
        text-align: center;
        width: 3000px;
        font-size: 350%; 
        padding: 200px;
    }
    p{
        width: 30000;
        font-size:400%;
        color: black;

    }
    .flex{
        background-color: gray;
        width: 3250px;
    }
    a{
        width: 19000;
        font-size: 35px;
        text-align: center;
        
    }
    .contato{
        width: 3000px;
    }
    .areacadastro{
            font-size: 180%;
            background-color:black;
            color:white;
            padding: 200px;
            text-align: center;
            width: 3000px;
    }
    .login{
        background-color:black;
        font-size: 500%;
        padding: 900;
        width: 3000px;
    }
    h6{
        background-color: aliceblue;
        font-size: 200%;

    }
    .Solicite {
        text-align: center;
        color:white;
        justify-content: space-around;
        background-color: black;
        padding: 20000;
        width: 3500px;
        font-size: 340%;
        
    }
    .Solicitelogin{
        background-color: black;
        text-align: center;
        font-size: 300%;
        padding: 20;
        width: 3500px;

    }
    .imagemevento{
        flex-direction: column;
        width: 300%;
        width:700; 
        height:700;

    }
    h5{
        font-size: 360%;
    }
    .section{
        
    }
    P{
        color:black;
    }
}